{% extends "account_management/base.html" %}

{% block content %}

{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="" class="text-warning">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>

        

<div class="container-fluid pt-5">
    {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}

    
    <div class="row px-xl-12">
        
        <div class="col-lg-8">
        {% if not user_address_book_exists %}
            <a href="{% url "cart:add_address" %}" type='submit' class="btn btn-success mb-3">+ADD Address</a>
        {% else %}
            <div class="row">
                {% for user_address in user_addresses %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-warning">{{ user_address.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-body-dark">{{ user_address.phone }}</h6>
                                <p class="card-text text-dark">
                                    Address: {{ user_address.address_line_1 }}, {{ user_address.address_line_2 }},
                                    {{ user_address.city }}, {{ user_address.state }}, {{ user_address.pincode }}
                                </p>
                                {% if user_address.is_default %}
                                    <a href="{% url "cart:edit_address" id=user_address.id %}" class="btn btn-dark card-link">Edit</a>
                                    <a href="" class="btn btn-white card-link">✅</a>
                                {% else %} 
                                    <a href="{% url "cart:address_default" id=user_address.id %}" class="btn btn-outline-warning card-link">  Default</a>
                                    <a href="{% url "cart:edit_address" id=user_address.id %}" class="btn btn-dark card-link">Edit</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    <p class="card-text text-dark">No addresses available.</p>
                </div>
            {% endfor %}
            </div>
            <a href="{% url "cart:add_address" %}" type='submit' class="btn btn-success mt-3">+ADD Address</a> 
            {% endif %}
                
            </div>
            
        <div class="col-lg-4">
            <!-- coupons code -->
            <div id="coupon-message"></div>
            <form action="{% url "orders:place_order" %}" method="POST">
           {% csrf_token %}
                <div class="input-group mb-4">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code" name="coupon">
                    <div class="input-group-append">
                        <button class="btn btn-dark" id="coupon-apply">Apply Coupon</button>
                        <button class="btn btn-danger" id="remove-coupon" style="display: none;">Remove Coupon</button>

                    </div>
                </div>
            
        
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>

                    {% for cart_item in cart_items %}
                    <div class="d-flex justify-content-between">
                        <p>{{ cart_item.product.product }}  --&nbsp&nbsp{{cart_item.quantity}}</p>
                        <p>{{ cart_item.sub_total }}</p>
                    </div>
                    {% endfor %}

                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium" id="sub-total">{{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Tax</h6>
                        <h6 class="font-weight-medium" id="tax-amount">{{tax}}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold" id="grand-total" data-grand-total="{{grand_total}}">₹{{grand_total}}</h5>
                    </div>
                </div>
            </div>
           
                {% comment %} {% csrf_token %} {% endcomment %}
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="Razorpay" value="Razorpay" required >
                            <label class="custom-control-label" for="Razorpay">Razopay</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck" value='COD' required >
                            <label class="custom-control-label" for="directcheck">Cash on Delivery</label>
                        </div>
                    </div>
                   
                </div>
                
                    
                <div class="card-footer border-secondary bg-transparent">
                    <button type='submit' class="btn btn-lg btn-block btn-warning text-white font-weight-bold my-3 py-3">Place Order</botton>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        var token = $('input[name=csrfmiddlewaretoken]').val();
        var initialSubTotal = parseFloat($('#sub-total').text().replace('₹', '').trim()); // Store initial subtotal
        var initialTax = parseFloat($('#tax-amount').text().replace('₹', '').trim()); // Store initial tax
        var totalAmount = initialSubTotal + initialTax;
        // handling button click 
        $('#coupon-apply').click(function(e){
            e.preventDefault();

            var couponCode = $('input[name=coupon]').val();
            var grandTotal = $('#grand-total').data('grand-total');
            var subTotal = initialSubTotal; // Use the stored initial subtotal
            var tax = initialTax; // Use the stored initial tax
           

            // making the ajax request to update the cart item quantity
            $.ajax({
                method:"POST",
                url:'{% url "orders:ajax_coupon" %}',
                data: {
                    'couponCode':couponCode,
                    'grandTotal':grandTotal,
                    'subTotal':subTotal,
                    'tax':tax,
                    'csrfmiddlewaretoken': token,
                },
                success:function(data){
                    if (data.success){
                    $('#grand-total').data('grand-total', data.newGrandTotal);
                    $('#grand-total').text('₹' + data.newGrandTotal);
                    $('#coupon-message').text(data.message).removeClass('text-danger').addClass('text-success');
                    $('#coupon-apply').hide(); // Hide Apply Coupon button
                    $('#remove-coupon').show(); // Show Remove Coupon button
                    
                    console.log(data);
                    }
                    else {
                        // Coupon application failed, show an error message
                        $('#grand-total').data('grand-total', data.newGrandTotal);
                        $('#grand-total').text('₹' + data.newGrandTotal);
                        $('#coupon-message').text(data.message).removeClass('text-success').addClass('text-danger');
                    }
                },
                error: function(error){
                    console.log(error);
                }
            })

        });
        $('#remove-coupon').click(function(e){
            e.preventDefault();
    
            // Reset coupon-related fields and show Apply Coupon button
            $('input[name=coupon]').val('');
            $('#coupon-message').text('');
            $('#grand-total').text('₹' + totalAmount);
            $('#coupon-apply').show();
            $('#remove-coupon').hide();
        });
    });



</script>
{% endblock content %}