{% extends "admin_templates/base.html" %}

{% block content %}
{% load static %}

<center>
    <h1>Add color  </h1>
    <p> Form to add different colors  </p>
    <br><br>
    
        <section class="content-main">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Color</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'admin_panel:color_list' %}" method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type='submit' value='Add' class='btn btn-success'>
                            </form>
                            
                        </div>
                    </div> <!-- card end// -->
                  
                </div>
                <div class="col-lg-6">
                    <section class="content-main">
                        <div class="card ">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <td>Color</th>
                                                <td class='text-end'>Status</th>
                                                <th class='text-end'>Edit</th>
                                                
                                                
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for i in list %}
                                            <tr>
                                                
                                                <td>{{forloop.counter}}</td>
                                                <td class="text-end"><b>
                                                    {{i.color_name}}
                                                </b></td>
                                                <td class="text-end">
                                                    <div>
                                                        <span class="badge  bg-{% if i.is_active %}success {% else %}danger{% endif %} alert-success"> {{i.is_active}} </span>
                                                    </div>
                                                   
                                                </td>
                                                <td class="text-end">
                                                    <div>
                                                        <a href={% url "admin_panel:color_edit" uid=i.uid %} class="btn btn-warning">Edit</a>
                                                    </div>
                                                   
                                                </td>

                                                
                                                
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div> <!-- table-responsive //end -->
                            </div> <!-- card-body end// -->
                        </div> <!-- card end// -->

                    </section>
                </div>

              
            </div>
        </section>
       

       
    

 

</center>




{% endblock content %}