{% extends "account_management/base.html" %}

{% block content %}

{% load static %}



<!-- ======================   produtct details pages    -->

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
        
                    {% for image in photos %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="w-100 h-100" src="{{ image.image.url }}" alt="Image">
                    </div>
                    {% endfor %}
        
                </div>
                <a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        

        <div class="col-lg-7 pb-5">

        <!-- =================product name ================== -->


            <h3 class="font-weight-semi-bold">{{product_variants.product_heading}}</h3>
            <div class="d-flex mb-3">
                <hp class="font-weight-light">{{product_variants.product.product_description}}</p>
            </div>

            <!--================ proudct price and discription is mensioned here==============-->


            <h6 class="font-weight-semi-bold mb-4">{% if product_variants.stock_qty %} ₹ {{product_variants.price}} {% else %} Out of Stock {% endif %} </h6>
            <p class="mb-4"> {{product.product_description}} </p>


<!--=============== if variation for product is available then show them else don't ==================== -->
{% if ram_variants %}
<div class="d-flex mb-3">
    <p class="text-dark font-weight-medium mb-0 mr-3">Ram:</p>
    <form>
        <!-- for getting the ram variation using loop -->
        {% for ram in ram_variants %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="ram-{{ ram.id }}" name="ram" value="{{ ram.id }}">
            <label class="custom-control-label" for="ram-{{ ram.id }}">{{ ram.ram_no }}</label>
        </div>
        {% endfor %}
    </form>
</div>
{% endif %}

<!--=============== if variation for product is available then show them else don't ==================== -->

            {% if color_varients %}
            <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
                <form>

            
                    <!--======== for getting the color variation using loop ======-->

                    {% for color in color_varients  %}
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="color-1" name="color">
                        <label class="custom-control-label" for="color-1"> {{color.color_name}} </label>
                    </div>
                    {% endfor %}
                </form>
            </div>
            {% endif %}
        
            {% if product_variants.stock_qty %}  
              
            {% if in_cart %}
            {% comment %} <div class="d-flex align-items-center mb-4 pt-2"> {% endcomment %}
                <div class="input-group quantity mr-3" style="width: 130px;">
                    
                </div>
                <a href="#" class="btn btn-success "><i class="fa fa-check mr-1"></i>Added in Cart</a>
                <a href="{% url "cart:cart_page" %}" class="btn btn-outline-info "><i class="fa fa-eye mr-1"></i>View in Cart</a>
            </div>

            
            {% else %}

            {% comment %} <div class="d-flex align-items-center mb-4 pt-2"> {% endcomment %}
                <div class="input-group quantity mr-3" style="width: 130px;">
                    
                </div>
                <a href="{% url "cart:add_cart" product_uid=product_variants.uid %}" class="btn btn-outline-success "><i class="fa fa-shopping-cart mr-1"></i>Add to Cart</a>
                
            </div>
            
            {% endif %}

            
            {% endif %}


            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active text-warning" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link text-warning" data-toggle="tab" href="#tab-pane-2">Information</a>
                <a class="nav-item nav-link text-warning" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p> {{product_variants.product.product_description}} </p>
                    <p></p>
                </div> 
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Product Information</h4>
                    
                   <h6> {{product_variants.product_heading}} </h6>
                    <p>{{product_variants.product_detailed_description}}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    RAM = {{product_variants.ram}}
                                </li>
                                <li class="list-group-item px-0">
                                    Color = {{product_variants.color}}
                                </li>
                                <li class="list-group-item px-0">
                                    
                                </li>
                              </ul> 
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                
                                <li class="list-group-item px-0">
                                    
                                </li>
                                
                                
                              </ul> 
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="mb-4">1 review for "Colorful Stylish Shirt"</h4>
                            <div class="media mb-4">
                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                    <div class="text-primary mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="mb-4">Leave a review</h4>
                            <small>Your email address will not be published. Required fields are marked *</small>
                            <div class="d-flex my-3">
                                <p class="mb-0 mr-2">Your Rating * :</p>
                                <div class="text-primary">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="message">Your Review *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">Your Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Your Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}