{% extends "admin_templates/base.html" %}

{% block content %}
{% load static %}



<center>
    <h1>Add Brand </h1>
    <br><br>
    
        <section class="content-main">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Brand</h4>
                        </div>
                        <div class="card-body">
                            <form action='' Method=POST>
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type='submit' value=' Add Brand ' class='btn btn-success'> 
                            </form>
                        </div>
                    </div> <!-- card end// -->
                  
                </div>
              
            </div>
        </section>
       

       
    

 

</center>


{% endblock content %}