{% extends "admin_templates/base.html" %}

{% block content %}
{% load static %}
{% comment %} <section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Brand</h2>
                <div>
                    
                    <button class="btn btn-md rounded font-sm hover-up">Save</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Brand Edit</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_name">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4"></textarea>
                        </div>
                
                        <div class="mb-4">
                            <label class="form-label">Tax rate</label>
                            <input type="text" placeholder="%" class="form-control" id="product_name">
                        </div>
                        <label class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label"> Make a template </span>
                        </label>
                    </form>
                </div>
            </div> <!-- card end// -->
           
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <img src="assets/imgs/theme/upload.svg" alt="">
                        <input class="form-control" type="file">
                    </div>
                </div>
            </div> 

        </div>
    </div>
</section> {% endcomment %}


<center>
    <h1>Add Brand </h1>
    <br><br>
    
        <section class="content-main">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Brand</h4>
                        </div>
                        <div class="card-body">
                            <form action='' Method=POST>
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type='submit' value=' Add Brand ' class='btn btn-success'> 
                            </form>
                        </div>
                    </div> <!-- card end// -->
                  
                </div>
              
            </div>
        </section>
       

       
    

 

</center>


{% endblock content %}