
{% extends "account_management/base.html" %}

{% block content %}

{% load static %}
<div class="container-fluid bg-secondary  mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px;">
        <h1 class="font-weight-semi-bold  mb-3"> OFFER PAGE</h1>
        <div class="d-inline-flex">
            {% comment %} <p class="m-0 "><a class='text-dark' href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shopping Cart</p> {% endcomment %}
        </div>
    </div>
</div>



  <div class="col-lg-12">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Product Offers</span></h2>
    </div>
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for slide in main_slid %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 450px;">
                <img class="img-fluid" src="{{ slide.product_offer_image.url }}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">Ends On : {{ slide.expire_date }}</h4>
                        <h5 class="display-4 text-white font-weight-semi-bold mb-4">%{{ slide.discount_percentage }} Offer</h5>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{ slide.offer_name }}</h3>
                       
                        <a href="{% url 'product:shoping_page' %}" class="btn btn-outline-warning py-2 px-3">Shop Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
    
            </div>
        </div>
        
    </div>

    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Category Offers</span></h2>
        </div>
        
    </div>


{% endblock content %}