
{% extends "account_management/base.html" %}

{% block content %}

{% load static %}



{% for message in messages  %}
                      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% endfor %}

<div class="container-fluid pt-5">
   
    <div class="row px-xl-5">
        {% comment %} <h5 class="text-center">Review your order and make payment</h5> {% endcomment %}
        <div class="col-lg-8 table-responsive mb-5">
            <div class="card">
                <div class="card-header text-dark font-weight-bold">
                  Billing Address
                </div>
                <div class="card-body">
                  <h5 class="card-title text-dark">{{order.shipping_address.name}} </h5>
                  <p class="card-text text-dark"> {{order.shipping_address.address_line_1}} ,{{order.shipping_address.address_line_2}}, {{order.shipping_address.country}} , {{order.shipping_address.state}} , {{order.shipping_address.city}} ,{{order.shipping_address.pincode}} , <br> {{order.shipping_address.phone}}</p>
                  
                </div>
              </div>
              <BR>
              <div class="card">
                <div class="card-header text-dark font-weight-bold">
                  Payment Method
                </div>
                <div class="card-body">
                  {% comment %} <h5 class="card-title text-dark">{{order.payment.payment_method}}</h5> {% endcomment %}
                  <p class="card-text text-dark font-weight-light">{{order.payment.payment_method}}</p>
                </div>
              </div>
              <BR>
              <div class="card">
                <div class="card-header text-dark font-weight-bold">
                  Review Products
                </div>
                <div class="card-body">
                    {% for cart_item in cart_items %}
                  <h5 class="card-title text-dark">{{cart_item.product.product_heading}}</h5>
                  <p class="card-text text-dark font-weight-light">Price = {{cart_item.product.price}} , Quantity = {{cart_item.quantity}}</p>
                  <br>
                  {% endfor %}
                </div>
              </div>
        </div>
       
        <div class="col-lg-4">
           
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">₹{{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Tax</h6>
                        <h6 class="font-weight-medium">₹{{tax}}</h6>
                    </div>
                    
                    
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">₹{{grand_total}}</h5>
                    </div>
                    <a href="{% url "cart:checkout" %}" class="btn btn-block btn-warning my-3 py-3">Place Order</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}