{% extends 'orders/success_base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/user_order/style.css' %}" rel="stylesheet">
    {% endblock head %}
{% block body %}
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="card">
          {% comment %} <div class="text-left logo p-2 px-5">
            <img src="https://i.imgur.com/2zDU056.png" width="50" />
          </div> {% endcomment %}

          <div class="invoice p-5">
            <h5>Your order Placed !</h5>

            <span class="font-weight-bold d-block mt-4">Hello, {{current_user}}</span>
            <span>You order has been confirmed and will be shipped in next two days!</span>

            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Order Date</span>
                        <span>{{date}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Order No</span>
                        <span>{{order_no}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Payment</span>
                        <span>{{pay_method}} </span>
                      </div>
                    </td>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Shiping Address</span>
                        <span>{{address}}</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="product border-bottom table-responsive">
              <table class="table table-borderless">
                {% for order_product in order_products %}
                <tbody>
                  <tr>
                    <td width="20%">
                      <img src="{{order_product.product.thambnail.url}}" width="90" />
                    </td>

                    <td width="60%">
                      <span class="font-weight-bolder"><b>{{order_product.product.product_heading}}</b></span><br>
                      <div class="product-qty">
                        <span class="d-block">Quantity: {{order_product.quantity}}</span>
                        <span>Color: {{order_product.product.color}}</span>
                      </div>
                    </td>
                    <td width="20%">
                      <div class="text-right">
                        <span class="font-weight-bold">Rs {{order_product.product.product_price}}</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
              
            </div>

            <div class="row d-flex justify-content-end">
              <div class="col-md-5">
                <table class="table table-borderless">
                  <tbody class="totals">
                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Subtotal</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span>{{total}}</span>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Shipping Fee</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span>0</span>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Tax Fee</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span>{{tax}}</span>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Discount</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span class="text-success">${{discount}}</span>
                        </div>
                      </td>
                    </tr>

                    <tr class="border-top border-bottom">
                      <td>
                        <div class="text-left">
                          <span class="font-weight-bold">Subtotal</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span class="font-weight-bold">{{total}}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
            <span>Cellular Team</span>
          </div>
          <div class="d-flex justify-content-between footer p-3">
            <span>Back to shopping ? <a href="{% url "product:shoping_page" %}" class="btn btn-warning">Shop</a></span>
            <span>{{date}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}