{% extends "admin_templates/base.html" %}

{% block content %}
{% load static %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Product Offers List</h2>
            <p></p>
        </div>
        
        <div>
            
            <a href="{% url "admin_panel:add_product_offers" %}" class="btn btn-warning ">Create new Offer</a>
        </div>
    </div>
   
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        
                    </div>
                </div>
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select">
                        <option selected>All category</option>
                        <option>Electronics</option>
                        <option>Clothes</option>
                        <option>Automobile</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="date" value="02.05.2021" class="form-control">
                </div>
                <div class="col-md-2 col-6">
                    <select class="form-select">
                        <option selected>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            {% for i in list %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                        <div class="text">
                            <h6>{{forloop.counter}}</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">
                            <div class="left">
                                <img src={{i.product_offer_image.url}} class="img-sm img-thumbnail" alt="Item">
                            </div>
                            <div class="info">
                                <h6 class="mb-0">{{i.offer_name}}</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <span> {{i.expire_date}}</span> </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <span class="badge rounded-pill alert-{% if i.is_active %}success{% else %}danger{% endif %}">{{i.is_active}}</span>
                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                        <span>%{{i.discount_percentage}}</span>
                    </div>
                   
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        <div>
                            <a href="{% url "admin_panel:delete_product_offer" id=i.id %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                        
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        <div>
                            <a href="{% url "admin_panel:edit_product_offer" id=i.id %}" class="btn btn-outline-warning">Edit</a>
                        </div>
                        
                    </div> 
                </div> <!-- row .// -->
            </article> 
            <br><!-- itemlist  .// -->
            {% endfor %}
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section>

{% endblock content %}