{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>OTP Verification</title>
  </head>
  <body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-white text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    
                        <div class="mb-md-5 mt-md-4 pb-5">
      
                        <h2 class="fw-bold mb-2"><img src="{% static "/img/logo.jpg" %}" width="50" height="50">Cellular</h2>
                        <p class="text-dark mb-5">Forgot password </p>
                            
                <!-- ======================message =================================== -->
                {% for message in messages  %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                  <strong>{{ message }}</strong> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}


                <!--============================= form ======================================-->           
                
                <form method=POST action="{% url "account_management:forgot_pass_email" %}">
                    {% csrf_token %}
                        <div class="form-outline form-white mb-4">
                        <input type="Email" id="typeEmailX" name='email' class="form-control form-control-lg" />
                        <label class="form-label fond-weight-bolder text-dark " for="typeEmailX">Plese enter your Email Id</label>
                        </div>
      
                        <button class="btn btn-outline-warning fond-weight-bolder btn-lg px-5" type="submit">Verify</button>
                
                        </div>
                </form>   
                    {% comment %} <div>
                    <p class="mb-0">Do you want to resent OTP ? <a href="#!" class="text-warning fw-bold">Resent</a>
                    </p>
                  </div> 
       {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>