{% extends "account_management/base.html" %}

{% block content %}
{% load static %}

{% for message in messages  %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
<div class="col-lg-12">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for slide in main_slid %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 410px;">
                <img class="img-fluid" src="{{ slide.slide_image.url }}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">{{ slide.subheading }}</h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{ slide.heading }}</h3>
                        <a href="{% url 'product:shoping_page' %}" class="btn btn-outline-warning py-2 px-3">Shop Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
    
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-warning m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-warning m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-warning m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-warning m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div> 
    <!-- Featured End -->


    

    <!-- Offer Start -->
    
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            {% for sub_banner in sub_banners %}
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="{{sub_banner.img.url}}" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-warning mb-3"> {{sub_banner.sub_heading}}</h5>
                        <h1 class="mb-4 font-weight-semi-bold">{{sub_banner.heading}}</h1>
                        <a href={% url "product:shoping_page"%} class="btn btn-outline-warning py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>  
    <!-- Offer End -->


    
        </div>
    </div> 
    <!-- Products End -->


    <!-- Footer Start -->
    

{% endblock content %}