{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <link href="{% static '/img/logo.jpg'%}" rel="icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>SignUp</title>
  </head>
  <body >
    <section class="vh-100 bg-light" style="background-color: #e4ed2a;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold text-dark font-weight-bolder mb-5 mx-1 mx-md-4 mt-4"><img src="{% static "/img/logo.jpg" %}" width="50" height="50"> Cellular </p>

                      <!-- ================================ message for error of invalid inputs ============================================-->

                      {% for message in messages  %}
                      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% endfor %}





<!--=========================================================  sign up form ============================================================================================================================================================================ -->
                    


                   
                      <form class="mx-1 mx-md-4" method="POST" action="{% url "account_management:user_signUp" %}">
                        {% csrf_token %}
                        
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Up to create an account</h5>
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" class="form-control" name="name"/ Required>
                            <label class="form-label text-dark font-weight-light" for="form3Example1c">User Name</label>
                        
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" name="email" Required>
                            <label class="form-label font-weight-light" for="form3Example3c">Your Email</label>
                        
                          </div>
                        </div>

                        
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" Required name="phone_no" id="form3Example1c" class="form-control" />
                          <label class="form-label text-dark font-weight-light" for="form3Example1c">Phone Number</label>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="form3Example4c" name="passw1" Required class="form-control" />
                            <label class="form-label font-weight-light" for="form3Example4c">Password</label>
                          </div>
                        </div>
      
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="form3Example4cd" name="passw2" Required class="form-control" />
                            <label class="form-label font-weight-light" for="form3Example4cd">Repeat your password</label>
                          </div>
                        </div>
                       
                        <div class="form-check d-flex justify-content-center mb-5">
                          
                          <label class="form-check-label font-weight-light" for="form2Example3">
                            Already have an Account <a href="{% url "account_management:user_login" %}">Login</a>
                          </label>
                          
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn text-white btn-warning btn-lg">Register</button>
                        </div>
                        
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="{% static "/img/Amazed black girl looking at mobile.jpeg" %}" 
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>